.formAuthOrRegist__displayNone {
  display: none;
}
 
.formAuthOrRegist {
 
  width: 60%;
}

.formAuthOrRegist__input {
  border: 1px solid #888888;
  width: 100%;
  height: 49px;
  box-sizing: border-box;
  padding: 15px 20px;
  font: 1em sans-serif;
  outline: none;
}
.formAuthOrRegist__label {
  margin-bottom: 30px;
}

.formAuthOrRegist__button1 {
  background: #48b4f8;
  padding: 10px 20px;
  border: 1px solid #888888;
  border-radius: 4px;
  box-sizing: border-box;
  font: 1em sans-serif;
  color: #ffffff;
}
