.cardProduct {
  border-bottom: 1px solid gray;
  padding: 10px 0 10px 0;
  display: flex;
  gap: 20px;
  align-items: center;
}
.cartProduct_ContainerPriceProductDiv {
  display: flex;
  flex-direction: column;
  gap: 65px;
}





 