.product {
  height: 387px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .product__img {
    display: none;
    margin: auto;
  }
  .product_black {
    display: flex;
  }
  
.product__img_height{
  display: block;
  height: 387px;
width: fit-content;
}
.product__img_width {
  display: block;
  height: fit-content;
  width: 197px;
}
